* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

img {
  display: block;
}

button {
  all: unset;
  cursor: pointer;
}

select {
  all: unset;
}

.text-color1 {
  color: #213f7d;
}

.text-color2 {
  color: #545f7d;
}

.text-color3 {
  color: #39cdcc;
}

.margin-bottom {
  margin-bottom: 30px;
}

.pending {
  background-color: #fdf7e5;
  color: #e6b000;
  padding: 8px 16px;
  border-radius: 20px;
  border-radius: 100px;
  text-align: center;
}

.active {
  background-color: #f3fcf6;
  color: #39cd62;
  padding: 8px 16px;
  border-radius: 100px;
  text-align: center;
}

.blacklisted {
  background-color: #fce6eb;
  color: #e4033b;
  padding: 8px 16px;
  border-radius: 100px;
  text-align: center;
}

.inactive {
  background-color: #f5f5f7;
  color: #545f7d;
  padding: 8px 16px;
  border-radius: 100px;
  text-align: center;
}

.btn__blacklist {
  color: #e4033b;
  background-color: transparent;
  border: 1px solid #e4033b;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 8px 16px;
  font-weight: 600;
}
.btn__blacklist:hover {
  background-color: #e4033b;
  color: #fbfbfb;
  transition: all 0.5s linear;
}

.btn__activate {
  color: #39cdcc;
  background-color: transparent;
  border: 1px solid #39cdcc;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 8px 16px;
  font-weight: 600;
}
.btn__activate:hover {
  background-color: #39cdcc;
  color: #fbfbfb;
  transition: all 0.25s linear;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-btw {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table__data {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

tr {
  font-size: 14px;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 20px;
}
@media (min-width: 800px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}

.padding {
  padding: 5% 3%;
}

.login {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
}
.login .login__l {
  flex-grow: 1;
  background-color: #fdfdfd;
  display: grid;
  position: relative;
}
.login .login__l .image-container {
  padding-top: 500px;
}
.login .login__l .login__main-thumbnail {
  max-width: 600px;
  width: 100%;
}
@media (min-width: 1200px) {
  .login .login__l {
    width: 50%;
  }
}
.login .login__r {
  flex-grow: 1;
  padding-top: 200px;
}
@media (min-width: 1200px) {
  .login .login__r {
    width: 50%;
  }
}
.login .login__r .heading h3 {
  color: #213f7d;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
}
.login .login__r .heading p {
  color: #545f7d;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 60px;
}
.login .login__r .form-control {
  max-width: 447px;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  padding: 5px 12px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .login__r .form-control .form-group {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
.login .login__r .form-control button {
  color: #39cdcc;
  max-width: 447px;
}
.login .login__r .password {
  color: #39cdcc;
  font-size: 12px;
  margin-bottom: 20px;
  letter-spacing: 10%;
  text-transform: uppercase;
}
.login .login__r .form__btn {
  background-color: #39cdcc;
  max-width: 447px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
}
.login .login__r .form__btn:hover {
  opacity: 0.7;
  transition: all 0.25s ease-in-out;
}
@media (min-width: 1200px) {
  .login {
    flex-direction: row;
  }
}