* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Work Sans', sans-serif;
  }
  
  @import './styles/main';
  @import './styles/variables';
  @import './components/Login/login';   